[submodule "TPDockerSampleApp"]
	path = TPDockerSampleApp
	url = https://github.com/quentinlegot/TPDockerSampleApp
[submodule "doodlestudent"]
	path = doodlestudent
	url = https://github.com/quentinlegot/doodlestudent
[submodule "doodle-config"]
	path = doodle-config
	url = git@github.com:quentinlegot/doodle-config.git
